.experience {
  text-align: center;
}
.experience-content {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 5rem;
}
.ex-card {
  width: 18rem;
  padding: 1rem 0;
  border: 2px solid var(--dark);
  border-radius: 25px;
}
.ex-title {
  font-weight: var(--font-bolder);
  font-size: 1.5rem;
}
.ex-list {
  margin-top: 1.5rem;
}
.ex-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
  padding: 1rem 0;
  gap: 1rem;
}
.ex-list ul li {
  flex: 1;
  text-align: left;
  font-weight: var(--font-bolder);
}
ul li .status {
  font-weight: var(--font-light);
}
@media (max-width: 480px) {
  .experience {
    padding-top: 7rem;
  }
  .experience-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .ex-card {
    width: 16rem;
  }
}
@media (max-width: 600px) {
  .experience-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
