header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 7%;
  font-size: 1.7rem;
  border-bottom: 0.5px solid var(--dark);
  background-color: var(--light);
}
.logo {
  font-weight: var(--font-bold);
  font-size: 2rem;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.3rem;
}
.link {
  color: var(--dark);
}
.close-bar,
.menu-bar {
  display: none;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    padding-block: 3rem;
    backdrop-filter: blur(25px);
    border-bottom: 5px solid var(--glass);
    transition: top 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .link {
    padding: 0.5rem 2rem;
    border: 1px solid grey;
    border-radius: 25px;
    background-color: whitesmoke;
  }
  .close-bar,
  .menu-bar {
    display: block;
  }
  .close-bar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  .navbar.active {
    top: 0;
  }
}
